


.h3{
  font-size:1.5rem !important
}


.form_wellcome{
  
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 5rem;

}
.form_wellcome img{
  max-width: 330px;
}
.anim {
    animation: fadeIn_center 2s ease 0s 1 normal forwards;
}

.anim-fadeIn_center{
    animation: fadeIn_center 3s linear 0s 1 alternate forwards;
}

.anim-fadeOut_center_infinite{
    animation: fadeIn_center 5s linear 0s infinite alternate forwards;
}

@keyframes myAnim {
    0% {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    40% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    50% {
      transform: scale3d(0.85, 1.15, 1);
    }
  
    65% {
      transform: scale3d(1.05, 0.95, 1);
    }
  
    75% {
      transform: scale3d(0.95, 1.05, 1);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
    }
  }


  @keyframes blink {
    0%,
    50%,
    100% {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0;
    }
  }

  @keyframes fadeIn_center {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 10;
    }
  }