.navbar{
  z-index: 10000000000;
}
  li{
      height: 100%;
      margin-left: 2rem;
  }
  .btn-round {
    border-radius: 3rem;
  }

  @media only screen and (max-width:640) {
    .bg-dark1 {
      background-color: #5a5c69 !important;

    }
  }
/* li:hover{
    background-color:dodgerblue
} */